.token.punctuation {
  color:rgba(5, 181, 37, 0.897);
}

.token.negation {
  color: rgba(228, 34, 34, 0.646);
}

.text-edit {
  border: 1px solid green;
}
/* * {
  font-family: '"Fira code", "Fira Mono", monospace';
  font-size: 12px;
  margin-left: 5px;
} */